<h1 align = 'center'>Listing All Articles</h1>
<div class="article-actions no-border">
    <%= link_to 'Create new article', new_article_path, class: "btn btn-xs btn-xlarge" %>
</div>
<%= render 'article', obj: @articles %>
